<%- include('includes/header.ejs') %>

</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <div class="form">

        <form action="/retrieve-password" method="post" class="form-body">
            <h3>Login</h3>        
        <div>
            <label for="password">Password</label> <br>
            <input id="password" type="password" name="Password">
        </div>

        <div>
            <label for="password">Confirm Password</label> <br>
            <input id="password" type="password" name=" confirm-Password">
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success mx-5 my-5">Reset</button>
           <a href="/" class="btn btn-outline-danger mx-5 mx-5 my-5">Cancel</a>
<input type="hidden" value="<%= User.email %>" name="Email">
        </div>
        </form>
    </div>


    <%- include('includes/footer.ejs') %>
</body>
</html>